:root {
  --gray50: #ebeef5;
  --gray100: #c3c8d4;
  --gray200: #a8aebf;
  --gray300: #8e95a9;
  --gray400: #767e94;
  --gray500: #61697f;
  --gray600: #475069;
  --gray700: #323b54;
  --gray800: #20283e;
  --gray900: #121829;
  --primary50: #ebe9fe;
  --primary100: #dedbfd;
  --primary200: #beb7fb;
  --primary300: #9c92f8;
  --primary400: #7b6ef6;
  --primary500: #5a4af4;
  --primary600: #483bc3;
  --primary700: #362c92;
  --primary800: #251e62;
  --primary900: #120f31;
  --warning500: #ffad49;
}
