@import "./responsive-mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1440 * 10);
  @include useBreakpoints {
    font-size: calc(100vw / 500 * 10);
  }
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--gray300);
  background-image: url("../assets/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary900);
  -webkit-font-smoothing: antialiased;

  &::-webkit-scrollbar {
    display: initial;
    width: 0.6rem;
    height: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(25, 25, 29, 0.95);
    border-radius: 3.2rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      270deg,
      #cdcdcd 49.42%,
      rgba(205, 205, 205, 0.5) 100%
    );
    border-radius: 3.2rem;
  }

  @include useBreakpoints {
    width: 100%;
  }
}

button {
  border: 0;
  background: none;
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;

  @include useBreakpoints {
    padding: 0 3.2rem;
    padding-top: 10rem;
  }
}
