@mixin headingOne {
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 8rem;
  letter-spacing: -0.02em;
  color: var(--gray50);
}

@mixin headingTwo {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.6rem;
  letter-spacing: -0.02em;
}

@mixin headingThree {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: -0.02em;
}

@mixin headingFour {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: -0.02em;
}

@mixin headingFive {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: -0.015em;
}

@mixin headingSix {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: -0.015em;
}

@mixin bodyLarge {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0;
}

@mixin bodyRegular {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0;
  color: var(--gray300);
}

@mixin bodySmall {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0;
}

@mixin bodyExtraSmall {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0;
}

@mixin caption {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0;
}

@mixin overlineRegular {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.04em;
}

@mixin overlineSmall {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 0.04em;
}

@mixin linkRegular {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
}

@mixin linkSmall {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
}
