@import "../../styles/typography-mixin.scss";
@import "../../styles/responsive-mixin.scss";

.container {
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.titlePageContainer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 58.8rem;

  @include useBreakpoints {
    max-width: 100%;
  }

  .title {
    @include headingOne;
  }

  .description {
    @include bodyRegular;

    span {
      color: var(--primary300);
    }
  }

  .inputText {
    margin-top: 2.4rem;
    width: 60%;

    @include useBreakpoints {
      max-width: 100%;
    }
  }
}

.tabFilters {
  display: flex;
  margin-top: 8rem;
}

.filmsContainer {
  display: flex;
  flex-direction: column;

  @include useBreakpoints {
    width: 100%;
  }

  .category {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 2.4rem 0;
    color: var(--gray400);

    strong {
      @include headingThree;
    }

    span {
      @include bodyRegular;
    }
  }

  .moviesGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;

    @include useBreakpoints {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    // @include useBreakpoints {
    //   width: 100%;
    //   display: grid;
    //   grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
    //   place-items: center;
    // }

    // @media (max-width: 500px) {
    //   grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    // }
  }
}

.showMore {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
  padding: 1.6rem 0;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    @include bodyLarge;
    color: var(--gray100);

    &:hover {
      filter: brightness(1.3);
    }
  }
}
