@import "../../styles/typography-mixin.scss";

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 12rem;
  height: 8rem;
  width: 100%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: var(--primary900);

  .logo {
    width: 4rem;
    height: 4rem;
  }
}

.navLinks {
  ul {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
}

.navItem {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  a {
    @include linkRegular();
    transition: all 0.3s ease-in-out;
    color: var(--gray200);

    &:hover {
      color: var(--primary300);
    }
  }
}
