@import "../../styles/typography-mixin.scss";
@import "../../styles/responsive-mixin.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.contentBanner {
  width: 100%;
  .backgroundBanner {
    width: 100%;
    height: 48rem;
    border-radius: 4rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .bannerImage {
      width: 100%;
      height: 100%;
      border-radius: 4rem;
      object-fit: cover;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      .bannerImage {
        transform: scale(1.2);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(54, 44, 146, 0.4) 0%,
        rgba(18, 98, 151, 0.4) 100%
      );
      border-radius: 4rem;
    }
  }

  .titleContent {
    width: 56rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(24px);
    border-radius: 2.4rem;
    padding: 4rem;
    gap: 0.8rem;

    margin-top: calc(-4rem - 4rem);
    margin-left: 7.8rem;

    span {
      @include bodyExtraSmall;
      color: var(--primary200);
    }

    h1 {
      @include headingThree;
      color: var(--gray50);
    }
  }
}

.contentInfos {
  display: flex;
  gap: 8rem;
  margin-top: 8rem;
  padding: 0 7.8rem;

  @include isMobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .containerPorter {
    max-width: 50%;
    height: 72rem;
    position: sticky;
    top: 2.4rem;

    @include isMobile {
      height: 40rem;
      width: 100%;
      max-width: 100%;

      position: initial;
      top: initial;
    }

    .posterImage {
      width: 100%;
      height: 100%;
      border-radius: 2.4rem;
      object-fit: cover;
    }
  }
  .containerInfos {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    max-width: 50%;

    @include isMobile {
      width: 100%;
      max-width: 100%;
    }

    .infoTitle {
      @include headingFour;
      color: var(--gray50);
    }

    .overview {
      @include bodyLarge;
      color: var(--gray300);
    }

    .rankingContainer {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      padding: 0.8rem;
      background: rgba(0, 0, 0, 0.65);
      backdrop-filter: blur(8px);
      border-radius: 0.8rem;
      width: fit-content;

      img {
        width: 1.6rem;
        height: 1.6rem;
      }

      span {
        @include bodyRegular;
        color: var(--warning500);
      }
    }

    .tvShowInfos,
    .moviesInfos {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 2.4rem;
    }

    .statusInfoContainer {
      width: 100%;
      display: flex;
      gap: 2.4rem;
      .statusInfoContentContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        span {
          @include bodyRegular;
          color: var(--gray400);
        }

        strong {
          @include bodyLarge;
          color: var(--gray100);
        }
      }
    }
  }
}
